<div class="container">
  <h2 id="title">Working with Ember.js and Promises</h2>

  <div id="viewer" class="row">
    <div id="left" class="col-xs-5">
      <p>Promises are a way of organizing asynchronous code.</p>
    </div>

    <div id="right" class="col-xs-7">
      {{outlet}}
    </div>

  </div>
</div>
