<div class="container">

  <div id="header" class="clearfix">
    <h2>Working with Ember.js and Promises</h2>
    <button class="btn btn-xs btn-default" {{action 'seed'}}>seed</button>
  </div>

  <div id="viewer" class="row">
    <div id="left" class="col-xs-5">
      <p>Promises are a way of organizing asynchronous code.</p>
    </div>

    <div id="right" class="col-xs-7">
      {{outlet}}
    </div>

  </div>
</div>
